

body {
  width: 100%;
  height: auto;
  margin: 0;
  background-image: url(img/background.jpeg);
}

.secToday {
  display: flex;
  justify-content: center;
  text-align: center;
  width: auto;
  height: auto;
  margin: 1rem;
}
.secWeek {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-direction: row;
}
.background
{
  background-color: rgba(255, 255, 255, 0.6);
  background-repeat: no-repeat;
  padding: 2rem;
  height: auto;
  width: auto;
}

.weekDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.futureStyle{
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.futureStyle img{
  width: 80%;
}

footer
{
  text-align: center;
  color: white;
}
