body {
  width: 100%;
  height: auto;
}

.secToday {
  display: flex;
  background-color: green;
  justify-content: center;
  text-align: center;
  width: auto;
  height: auto;
  margin: 1rem;
}
.secWeek {
  display: flex;
  background-color: blue;
  justify-content: space-around;
  text-align: center;
  flex-direction: row;
}
.background
{
  background-color: white;
  height: auto;
  width: auto;
}

.weekDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.futureStyle{
  border: 1px solid black;
  padding: 1.5rem;
}
.futureStyle img{
  width: 80%;
}

footer
{
  text-align: center;
}
